In [2]:
pip install json_lines

Collecting json_lines
  Downloading json_lines-0.5.0-py2.py3-none-any.whl (6.8 kB)
Requirement already satisfied: six in ./.conda/envs/pytorch/lib/python3.10/site-packages (from json_lines) (1.16.0)
Installing collected packages: json_lines
Successfully installed json_lines-0.5.0
Note: you may need to restart the kernel to use updated packages.

/home/mengxiangdi/grade-school-math/grade_school_math/data/train.jsonl

In [1]:
import json_lines

gpt4_data = json_lines.reader(open('/home/mengxiangdi/grade-school-math/grade_school_math/data/train.jsonl'))

In [15]:
import json_lines

lis = []
with open('/home/mengxiangdi/grade-school-math/grade_school_math/data/train.jsonl', 'rb') as f: 
   for item in json_lines.reader(f):
      lis.append(item)

In [11]:
import json_lines

test = {}
with open('/home/mengxiangdi/grade-school-math/grade_school_math/data/train.jsonl', 'rb') as f: 
   for item in json_lines.reader(f):
      test.update(item)

In [12]:
data_case = test

In [17]:
print(lis[0]['answer'])

Natalia sold 48/2 = <<48/2=24>>24 clips in May.
Natalia sold 48+24 = <<48+24=72>>72 clips altogether in April and May.
#### 72

In [21]:
for i, x in enumerate(lis):
    gpt_str = item['answer']
    human_str = item['question']
    conversation = {
        'id': f'conv_{i}',
        'conversations': [
            {
                'from': 'human',
                'value': human_str,
            },
            {
                'from': 'gpt',
                'value': gpt_str
            }
        ]
    }
print(conversation)

{'id': 'conv_7472', 'conversations': [{'from': 'human', 'value': 'At 30, Anika is 4/3 the age of Maddie. What would be their average age in 15 years?'}, {'from': 'gpt', 'value': "If Anika is 30 now, in 15 years, she'll be 30+15=<<30+15=45>>45 years old.\nAt 30, Anika is 4/3 the age of Maddie, meaning Maddie is 4/3*30=<<4/3*30=40>>40 years.\nIn 15 years, Maddie will be 40+15=<<40+15=55>>55 years old.\nTheir total age in 15 years will be 55+45=<<55+45=100>>100\nTheir average age in 15 years will be 100/2=<<100/2=50>>50\n#### 50"}]}

{'id': 'conv_7472', 'conversations': [{'from': 'human', 'value': 'At 30, Anika is 4/3 the age of Maddie. What would be their average age in 15 years?'}, {'from': 'gpt', 'value': "If Anika is 30 now, in 15 years, she'll be 30+15=<<30+15=45>>45 years old.\nAt 30, Anika is 4/3 the age of Maddie, meaning Maddie is 4/3*30=<<4/3*30=40>>40 years.\nIn 15 years, Maddie will be 40+15=<<40+15=55>>55 years old.\nTheir total age in 15 years will be 55+45=<<55+45=100>>100\nTheir average age in 15 years will be 100/2=<<100/2=50>>50\n#### 50"}]}

In [3]:
import json
gpt4_data = json.load(open('/home/mengxiangdi/archive/SAIL/data/alpaca_gpt4_data.json'))